@import '../../shared/style-variables.scss';

.header-container {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 1;
}
.headerTransparent {
  background: rgba(38,38,38,0.5)
}
.headerSolid {
  background: rgb(38,38,38);
}

#header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left, .header-right {
  margin: 10px 15px;
}

.header-left {
  .header-logo-icon {
    width: 40px;
    height: 40px;
  }
}
.navbar-container {
  display: flex;
  :last-child {
    padding-right: unset;
  }
}
.navbar-link {
  padding-right: 20px;
  color: $off-white;
  text-decoration: none;
  font-size: 16px;
  @extend .medium-emphasis-font
}
