@import '../../shared/style-variables.scss';

#bio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.bio-header {
  font-size: 32px;
  color: $grey-87;
  @extend .medium-emphasis-font;
}

.bio-description {
  width: 800px;
  line-height: 1.5;
  font-size: 20px;
  color: $grey-87;
  text-align: center;
  @extend .base-font;
}

.bio-pic {
  display:block;
  position:relative;
  border-radius: 5px;
}

.divider-line {
  border-top: 1px solid $light-grey;
  width: 40px;
}